.ninja_deps
*.o
*.json
*.log
*.pyc
*.so
build/*
quarot.egg-info/*
*.cmake
*.in
CMakeFiles/*
CMakeCache.txt
*.egg
*.egg-info/
Makefile
**/experiments
**/build
*.pth
**/*.pth
*.out
*.pt
.ipynb_checkpoints/
